<!-- public/views/entry.html -->
<div class="jumbotron text-center" ng-controller="EntryController">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <h3 class="text-danger">Enter Time Below:</h3>
            <div class="well">
                 <form ng-submit="sendData()">
                    Start Time:<br>
                    <input type="text" ng-model="entryData.startTime"><br>
                    End Time:<br>
                    <input type="text" ng-model="entryData.endTime"><br>
                    Project:<br>
                    <input type="text" ng-model="entryData.project"><br>
                    <br>
                    <input type="submit" value="Submit">
                </form>
                
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="text-danger">Worklogs</h3>
        <div class="col-sm-4" ng-repeat="worklog in worklogs">
            <div class="well infoContainer">
                <ul class="worklogInfo">
                    <li><strong>Created: {{worklog.created.createdTime}}</strong></li>
                    <li><strong>Worker: {{worklog.worker}}</strong></li>
                    <li>Start Time: {{worklog.startTime}}</li>
                    <li>End Time: {{worklog.endTime}}</li>
                    <li>Project: {{worklog.project}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>