<!-- public/views/home.html -->

<div class="jumbotron text-center" ng-controller="MainController">
    <div class="page-header text-center">
        <h1>{{currentUser.name}}</h1>
        <p>{{currentUser.email}}</p>
        <p class="text-danger">{{currentUser.role}}</p>
    </div>
    <div class="row">
        <h3 class="text-danger">CRIS Users</h3>
        <div class="col-sm-4" ng-repeat="user in users">
            <div class="well infoContainer">
                <ul class="userInfo" >
                    <li><strong>{{user.name}}</strong></li>
                    <li>{{user.email}}</li>
                    <li>{{user.role}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>