<!-- public/views/entry.html -->
<div class="jumbotron text-center" ng-controller="ProjectController">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <h3 class="text-danger">Enter Time Below:</h3>
            <div class="well">
                 <form ng-submit="sendData()">
                    Project Name:<br>
                    <input type="text" ng-model="entryData.name"><br>
                    Project Location:<br>
                    <input type="text" ng-model="entryData.location"><br>
                    Project Start Time:<br>
                    <input type="text" ng-model="entryData.startTime"><br>
                    <br>
                    <input type="submit" value="Submit">
                </form>
                
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="text-danger">Projects</h3>
        <div class="col-sm-4" ng-repeat="project in projects">
            <div class="well infoContainer">
                <ul class="projectInfo">
                    <li><strong>Project Name: {{project.name}}</strong></li>
                    <li><strong>Project Location: {{project.location}}</strong></li>
                    <li>Project Start Time: {{project.startTime}}</li>
                    <li>Project Owner: {{project.projectOwner}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>