<!-- public/views/worklog.html -->
<div class="jumbotron text-center" ng-controller="WorklogController">
    <div class="row">
        <h3 class="text-danger">Worklogs</h3>
        <div class="col-sm-4" ng-repeat="worklog in worklogs">
            <div class="well infoContainer">
                <ul class="worklogInfo">
                    <li><strong>Created: {{worklog.created.createdTime}}</strong></li>
                    <li><strong>Worker: {{worklog.worker}}</strong></li>
                    <li>Start Time: {{worklog.startTime}}</li>
                    <li>End Time: {{worklog.endTime}}</li>
                    <li>Project: {{worklog.project}}</li>
                </ul>
            </div>
        </div>

    </div>
</div>