<!-- public/views/home.html -->

<div class="jumbotron text-center" ng-controller="MainController">
    <div class="page-header text-center">
        <h1>WorkLogs</h1>
        <h1>{{currentUser.name}}</h1>
    </div>

    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger">{{currentUser.role}}</h3>
                    <p>
                        <!--<strong>token</strong>: <%= user.token %><br>-->
                        <strong>Email</strong>: {{currentUser.email}}<br> 
                    </p>
                    <ul ng-repeat="worklog in worklogs">
                        <li>{{worklog.worker}}</li>
                        <li>{{worklog.startTime}}</li>
                        <li>{{worklog.endTime}}</li>

                    </ul>
            </div>
        </div>

    </div>
</div>