<!doctype html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<div class="container">

    <div>
        <h1>CRIS User Login</h1>

        <p>Login with:</p>

        <a href="auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

    </div>

</div>
<footer>
        <% include partials/footer %>
    </footer>
</body>
</html>   