<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<header>
        <% include partials/header %>
    </header>
<div class="container">

    <div class="page-header text-center">
        <h1><%= user.name %></h1>
        <p>
            <h3 class="text-danger"><%= user.role %></h3>
            <strong><%= user.email %></strong><br> 
        </p>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <h2>Please fill out work below:</h2>
            <div class="well">
                <form action="/enterWorkLog" method="POST">
                    Start Time:<br>
                    <input type="text" name='startTime'><br>
                    End Time:<br>
                    <input type="text" name='endTime'><br>
                    Project:<br>
                    <input type="text" name='project'><br>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </div>

</div>
<footer>
        <% include partials/footer %>
    </footer>
</body>
</html>